/* TurismPage.css */
.place-details {
    padding: 20px;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.place-title {
    font-size: 2rem;
    margin-top: 20px;
}

.place-image-large {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.place-description {
    margin-top: 10px;
    font-size: 1.2rem;
}
  